@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #fff;
}

.main{
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10% 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 10px #0b0012);
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    cursor: pointer;
}

.registerPage a, .loginPage a{
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .3s;
    text-decoration: underline;
    cursor: pointer;
}

.registerPage a:hover, .loginPage a:hover, .loginPage a:active, .navbar a:hover, .navbar a.active{
    color: rgb(179, 0, 255);
}

#create-quiz {
    display: none;
}

#loginPage{
    display: none;
}

#registerPage{
    display: none;
}

.show {
    display: block;
}

.home{
    display: flex;
    height: 100vh; 
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home-container,.quizForm, .registerPage, .loginPage, .quiz1{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#registerPage input, #loginPage input, #quizForm input{
    font-size: 13px;
    border-radius: 4px;
    line-height: 1.5;
    width: 240px;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 30px;
    margin-bottom: 10px;
}


#registerPage input:hover, #loginPage input:hover, #quizForm input:hover {
    outline: none;
    border-color: #ccc;
}

#registerPage input:focus, #loginPage input:focus, #quizForm input:focus{
    outline: none;
    border-color: #9147ff;
    background: #fff;
}

.quiz1.active {
    display: none;
}

/* .quiz1.active h2{
    display: none;
}

.quiz1.active label{
    font-size: 16px;
}

.quiz1.active select{
    appearance: none;
    width: 250px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 64px 0 16px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    margin: 10px;
}

.quiz1.active .load-btn{
    width: 120px;
    height: 35px;
    margin-left: 10px;
    background: rgba(179, 0, 255, 0.5);
    box-shadow: none;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.quiz1.active .load-btn:hover{
    background: rgb(179, 0, 255);
    box-shadow: 0 0 8px rgb(179, 0, 255);
} */

.home-container h1{
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-container p{
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.home-container .button .start-btn, .create-btn{
    width: 190px;
    height: 55px;
    margin-left: 10px;
    background: rgb(179, 0, 255);
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(179, 0, 255);
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-container .button .start-btn:hover, .create-btn:hover{
    background: transparent;
    box-shadow: none;
}

.quiz1 h1,.registerPage h1, .loginPage h1, .quizForm h1{
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.quiz1, .registerPage label, .loginPage label, .quizForm label{
    font-size: 18px;
}

select {
    appearance: none;
    width: 270px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 64px 0 16px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    margin: 10px;
}

select option {
    background-color: rgb(55, 0, 77);
}

.load-btn, .next-btn, .submit-btn, .gnrt-btn, .register-btn, .login-btn, .save-btn{
    width: 150px;
    height: 45px;
    margin-left: 10px;
    background: rgba(179, 0, 255, 0.5);
    box-shadow: none;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}


.load-btn:hover, .next-btn:hover, .submit-btn:hover, .gnrt-btn:hover, .register-btn:hover, .login-btn:hover, .save-btn:hover{
    background: #b300ff;
    box-shadow: 0 0 8px rgb(179, 0, 255);
}


.questionsContainer, .quizContainer{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #b300ff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    margin: 10px 0;
    transform: scale(0.9);
}

.questionsContainer.active, .quizContainer.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 0.1s;
}

.quiz-question{
    flex-direction: column;
}

.quizContainer h1, .questionsContainer h1{
    font-size: 22px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #b300ff, transparent);
    border-radius: 6px;
}

legend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #b300ff;
}

.question-text{
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}


.option-list .option{
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 4px;
    font-size: 16px;
    margin: 6px 0;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover{
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.option [type="radio"] {
    display: none;
}
.option + .option {
    margin-top: 15px;
}
.option label {
    display: block;
    color: #fff;
    padding: 12px 0px 12px 55px;
    cursor: pointer;
    position: relative;
    transition: 0.4s ease-in-out 0s;
}
.option label:after,
.option label:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.option label:after {
    height: 19px;
    width: 19px;
    border: 2px solid #b300ff;
    left: 20.25px;
    top: calc(52% - 12px);
}
.option label:before {
    background: #b300ff;
    height: 20px;
    width: 20px;
    left: 21px;
    top: calc(53% - 12px);
    transform: scale(3);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out 0s;
}
.option [type="radio"]:checked ~ label {
    border-color: #b300ff;
}
.option [type="radio"]:checked ~ label::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.scoreContainer {
    position: relative;
    display: flex;
    width: 500px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background: transparent;
    border: 2px solid #b300ff;
    border-radius: 6px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: .3s ease;
}

.scoreContainer h2{
    font-size: 32px;
}

.scoreContainer .percentageContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 10px;
}

.percentageContainer .piechart{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#b300ff 3.6deg, rgba(255,255,255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentageContainer .piechart::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #221239;
    border-radius: 50%;
}

.piechart .value{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

.percentageContainer .score{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.buttons{
    display: flex;
}

.buttons button{
    width: 120px;
    height: 40px;
    background: #b300ff;
    border: 2px solid #b300ff;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin: 0 10px 10px;
    cursor: pointer;
    transition: .5s;
}

.buttons .tryAgain-btn:hover{
    background: rgba(179, 0, 255, 0.6);
    border-color: rgba(179, 0, 255, 0.6);
}

.buttons .goHome-btn{
    background: transparent;
    color: #b300ff;
}

.buttons .goHome-btn:hover{
    background: #b300ff;
    color: #fff;
}

@media screen and (max-width: 630px) {
    .home-container h1{
        font-size: 52px;
    }    
    .home-container p {
        font-size: 14px;
        margin: 12px;
        margin-bottom: 20px;
    }

    .questionsContainer, .quizContainer{
        width: 320px;
    }

    .scoreContainer {
        width: 320px;        
    }
    .percentageContainer .piechart{
        width: 180px;
        height: 180px;
    }
    .percentageContainer .piechart::before{
        width: 150px;
        height: 150px;
    }
    
 }

 @media screen and (max-width: 430px) {
    .home-container .button .start-btn, .create-btn{
        width: 140px;
        font-size: 16px; 
    }
 }

 @media screen and (max-width: 380px) {
    .home-container h1{
        font-size: 44px;
    }    
    .home-container p {
        font-size: 13px;
        margin: 12px;
        margin-bottom: 20px;
    }
    .home-container .button .start-btn, .create-btn{
        width: 120px;
        font-size: 14px;
        
    }

    .questionsContainer, .quizContainer{
        width: 250px;
    }

    .scoreContainer {
        width: 250px;        
    }
    .scoreContainer h2 {
        font-size: 28px;
    }
    .scoreContainer .percentageContainer {
        width: 200px;
        margin: 12px 0 10px;
    }
    .percentageContainer .piechart{
        width: 120px;
        height: 120px;
    }
    .percentageContainer .piechart::before{
        width: 100px;
        height: 100px;
    }
    .piechart .value {
        position: relative;
        font-size: 22px;
        font-weight: 600;
    }
    .percentageContainer .score {
        font-size: 18px;
        font-weight: 600;
        margin-top: 18px;
    }
    .buttons button {
        width: 90px;
        height: 40px;
        font-size: 13px;
        margin: 0 8px 8px;
    }

    #quizForm input {
        font-size: 12px;
        border-radius: 4px;
        line-height: 1.5;
        width: 180px;
        
    }
 }